:root {
	--primary-color: #00d37e;
	--secondary-color: #1a646c;
	--background-color: #ffffff;
	--background-alt-color: #eee;

	--on-primary-color: #ffffff;
	--on-secondary-color: #ffffff8f;
	--on-background-color: #000000;
	--on-background-faded-color: #0000008f;
}

body {
	font-family: "Baloo Chettan 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;

	margin: 0;
	display: flex;
	height: 100vh;
}

.primary-button {
	display: block;

	color: var(--on-primary-color);
	background: var(--primary-color);
	font-size: 20px;
	text-decoration: none;
	padding: 10px 18px;
	border-radius: 9999px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;

	transition: filter 0.1s ease;
}

.primary-button:hover {
	filter: brightness(110%);
}

.map-container {
	display: flex;
	flex: 1;
}

#map {
	flex: 1;
}

.navbar > * {
	margin: 0;
	padding: 0;
}

.navbar {
	position: fixed;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;

	background-color: var(--secondary-color);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 9999px;
}

.nav-list {
	display: flex;
	list-style: none;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 12px;
}

.nav-list li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
}

.nav-list input[type="radio"] {
	display: none;
}

.nav-list label {
	display: block;
	color: var(--on-secondary-color);
	font-size: 20px;
	text-decoration: none;
	padding: 10px 18px;
	border-radius: 9999px;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

.nav-list label:hover {
	background-color: var(--primary-color);
	color: var(--on-primary-color);
}

.nav-list input[type="radio"]:checked + label {
	background-color: var(--primary-color);
	color: var(--on-primary-color);
}

.popup {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: 32px;
	background: white;
	z-index: 1000;
	display: flex;
	flex-direction: column;
}

.popup-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.popup-close {
	text-align: right;
	cursor: pointer;
	font-size: 40px;
	font-family: monospace, monospace;
	color: var(--on-background-faded-color);
}

.profile-picture {
	margin-bottom: -12px;
}

.profile-username {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.profile-points {
	font-size: 20px;
	text-align: center;
	color: var(--on-background-faded-color);
}

.profile-progress-bar {
	width: 300px;
	height: 20px;
	background: #eee;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px 0;
	position: relative;
}

.profile-progress-fill {
	background: var(--primary-color);
	height: 100%;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 0.9em;
	white-space: nowrap;
	position: relative;
	z-index: 1;
	overflow: visible;
}

.bubble-container {
	position: absolute;
	top: 0;
	right: -5px;
	height: 100%;
	width: 20px;
	pointer-events: none;
	overflow: visible;
}

.bubble {
	position: absolute;
	bottom: 0;
	border-radius: 50%;
	background: var(--primary-color);
	opacity: 0;
	animation: float 2s infinite ease-in;
}

.bubble1 {
	width: 4px;
	height: 4px;
	top: 3px;
	animation-delay: 0s;
}

.bubble2 {
	width: 6px;
	height: 6px;
	top: 8px;
	animation-delay: 0.5s;
}

.bubble3 {
	width: 3px;
	height: 3px;
	top: 12px;
	animation-delay: 1s;
}

@keyframes float {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		transform: translateX(20px);
		opacity: 0;
	}
}

.profile-label {
	font-size: 26px;
	text-align: center;
	color: var(--on-background-color);
}

.profile-separator {
	width: 50%;
	height: 6px;
	background: #ccc;
	border: 0;
	border-radius: 4px;
	margin: 15px 0;
}

.points-icon {
	vertical-align: middle;
}

.leaderboard-title {
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.leaderboard-list {
	list-style-position: inside;
	padding: 0;
}

.leaderboard-list li {
	font-size: 20px;
	margin: 16px 0;
	padding: 24px;
	background: var(--background-alt-color);
	border-radius: 16px;
}

.leaderboard-profile-picture {
	vertical-align: middle;
}

.leaderboard-username {
	margin-right: 12px;
}

.leaderboard-points-container {
	float: right;
	font-weight: bold;
}

.spot-name {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.spot-icon {
	margin-bottom: 12px;
	transform-style: preserve-3d;
	transition: none;
}

.spot-icon.spot-undiscovered {
	filter: grayscale(100%);
}

.spot-icon.spot-unlock-animation {
	animation: spinY 3s ease-in-out forwards, toColor 3s ease-in-out forwards;
}

@keyframes spinY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(1800deg);
	}
}

@keyframes toColor {
	0% {
		filter: grayscale(100%);
	}
	30% {
		filter: grayscale(100%);
	}
	100% {
		filter: grayscale(0%);
	}
}

.spot-points-given {
	position: absolute;
	top: 0px;
	font-size: 32px;
	animation: riseFade 2s ease-in-out forwards;
}

@keyframes riseFade {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: rotateY(0px);
		opacity: 1;
	}
}

.spot-chat-container {
	background: var(--background-alt-color);
	padding: 12px 14px;
	width: 300px;
	border-radius: 12px;
	margin-top: 12px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;
}

.spot-chat-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 12px;
	font-style: italic;
}

.spot-chat-input-container {
	display: flex;
	margin-top: 16px;
	gap: 8px;
}

.spot-chat-input-container > input[type="text"] {
	flex: 1;
	padding: 8px 12px;
	border: 2px solid var(--primary-color);
	border-radius: 9999px;
	font-size: 16px;
	outline: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;
}
