<!DOCTYPE html>
<html>
	<head>
		<title>Craiova Explorer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/leaflet.css" crossorigin="" />
		<link rel="stylesheet" href="/static/css/style.css" />
	</head>
	<body>
		<div class="map-container">
			<div id="map"></div>
			<nav class="navbar">
				<ul class="nav-list">
					<li>
						<input type="radio" name="nav" id="tab-map" checked hidden />
						<label for="tab-map">Map</label>
					</li>
					<li>
						<input type="radio" name="nav" id="tab-leaderboard" hidden />
						<label for="tab-leaderboard">Leaderboard</label>
					</li>
					<li>
						<input type="radio" name="nav" id="tab-you" hidden />
						<label for="tab-you">You</label>
					</li>
				</ul>
			</nav>
		</div>
		<script src="/static/js/socket.io.min.js"></script>
		<script src="/static/js/leaflet.js" crossorigin=""></script>
		<script src="/static/js/map-view.js"></script>
	</body>
</html>
